body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
.content {
       max-width: 800px;
       margin: 20px;
       // font-size: 18px;
       // line-height: 1.5;
       margin-top: 50px;
       // position: relative;
       overflow: scroll;
        
    @media (max-width: 100vh) {
        margin-top: 45px;
        overflow: scroll;
    }
}
}
