body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .content {
       max-width: auto;
       margin: 40px;
       font-size: 18px;
       line-height: 1.5;
       margin-top: 90px;
       position: relative;

     @media (max-width: 95%) {
          margin-top: 45px;
    }
// }
    
}
